* {
  margin: 0 0;
  padding: 0 0;
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: center; */
}
*::selection {
  /* background:var(--red); */
  color: #fff;
}
.heading {
  text-align: center;
  font-size: 40px;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: #f7f7f7;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 1%;
}
.img-responsive {
  width: 100%;
}
.img-curve {
  border-radius: 15px;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-white {
  color: white;
}

.clearfix {
  clear: both;
  float: none;
}

a {
  color: #ff6b81;
  text-decoration: none;
}
a:hover {
  color: #ff4757;
}

.btnn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: #ff6b81;
  color: white;
  cursor: pointer;
}
.btn-primary:hover {
  color: white;
  background-color: #ff4757;
}
h2 {
  color: #2f3542;
  font-size: 2rem;
  margin-bottom: 2%;
}
h3 {
  font-size: 1.5rem;
}
.float-container {
  position: relative;
}
.float-text {
  position: absolute;
  bottom: 50px;
  left: 40%;
}
fieldset {
  border: 1px solid white;
  margin: 5%;
  padding: 3%;
  border-radius: 5px;
}

/* CSSS for navbar section */

.logo {
  width: 10%;
  float: left;
}
.menu {
  line-height: 60px;
}
.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline;
  padding: 1%;
  font-weight: bold;
}
.popular .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.popular .box-container .box {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  border-radius: 0.5rem;
  width: 90px;
  text-align: center;
  flex: 1 1 20rem;
  position: relative;
}

.popular .box-container .box img {
  height: 20rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}

.popular .box-container .box .price {
  position: absolute;
  top: 3rem;
  left: 3rem;
  background: red;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.popular .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.popular .box-container .box .stars i {
  color: gold;
  font-size: 1.7rem;
  padding: 1rem 0.1rem;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out {
  top: -120%;
}
